<html>
<head>
<title>Volium-2L </title>
</head>
<body>
<h2>Volium - OSH Park 2 layer standard order design rules preset</h2>

<p>This project template provides design rules and some specifics for the <a href="https://oshpark.com">OSH Park</a> prototype service.</p>

<p>Based on the <a href="http://docs.oshpark.com/services/two-layer/">OSH Park 2 layer prototype service order design rules</a>, as of 2017-08-13.</p>

<p><em>Created by Rodrigo Torres, no affiliation with OSH Park. The template may be freely distributed under the terms of CC BY-SA 4.0.</em></p>
</body>
</html>
